/* Footer
* ===============
*
* Place all your footer declarations here */

footer {
  text-align: center;
  color: #fff;
  clear: both;
  background: linear-gradient(to right, #070000, #4c0001, #070000);
  padding: 30px;
  margin-top: 20% ;
}